*{
  box-sizing: border-box;
  color: #222;
}

html, body{
  margin: 0;
  padding: 15px 0;
}

body{
  /*backup secondary gradient #d0ffae */
  background: linear-gradient(to right, #34ebe9, #c2ff99);
}

.container{

}

#wrapper{
  width: auto;
  padding: 20px;
}

#context{
  background: #fff;
  box-shadow: 2px 2px 15px rgba(25, 25, 25, 0.3);
  padding: 15px;
}

img{
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 2px 2px 15px rgba(5, 5, 5, 0.4);
}

#entry{
  background: #fff;
  box-shadow: 2px 2px 15px rgba(25, 25, 25, 0.3);
  padding: 15px;
}

.padding{
  padding: 15px 0;
}

.padding-top{
  padding-top: 15px;
}

#entry_form{

}

#results{
  width: 100%;
  max-width: 100%;
  min-height: 300px;
  padding: 5px;
    border: 1px solid #c4c4c4;
}

#results:focus{
  outline: none;
}

.margin{
  margin: 15px 0;
}

#entry_form input{
  width: 100%;
  height: 40px;
  border: 1px solid #c4c4c4;
  padding: 5px;
}

#entry_form input:focus{
  outline-color: #34ebe9;
}

.swap{
  text-align: center;
  position: relative;
}

.swap i{
  height: 40px;
  font-size: 40px;
  color: #555;
}

.drop{
  width: 100%;
  height: 40px;
  border: 1px solid #c4c4c4;
  padding: 5px;
}

.drop:focus{
  outline-color: #d0ffae;
}

.break{
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #34ebe9, #c2ff99);
}

.text{
  font-family: "Open Sans", Arial, sans-serif;
}

.header{
  font-family: "Hind", Arial, sans-serif;
  line-height: 0.8;
  text-align: center;
}


form{

}

input{

}

@media only screen and (max-width: 768px){
  #context{
    display: block;
    width: 100%;
  }

  #entry{
    margin-top: 30px;
    display: block;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  #entry_panel{
    margin-top: 30px;
  }
}
